.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 512px;
  height: 256px;
  margin: 64px
}

.card-content {
  display: flex;
  flex: 2;
  align-items: center;
  padding: 32px;
}

.card-content-item {
  margin-left: 32px;
}

.card-text {
  color: #57727C;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.card-footer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #D7DBDD;
  background-color: #EEF3F5;
}

.card-footer-button {
  border-radius: 5px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #d93434;
  padding: 10px 20px 10px 20px;
}
.card-footer-button:hover {
  background: #bf1717;
  text-decoration: none;
  cursor: pointer;
}